<div class="container">
  <h1>DBC Resources</h1>
  <div class="resources-container">
    <ul>
    <% @resources.each do |resource| %>

        <li class="resource-link"><%= link_to resource.name, resource.url %> | <%=link_to 'Add to Favorite Resources', user_favorites_path(current_user), data_attr: resource.id, class: "add-to-favorites-link", remote:true %></li>
        <li class="resource-description"><%= resource.description%></li>

    <% end %>
    </ul>
  </div>
</div>
