<div class="container">
  <h1>DBC Resources</h1>
  <div class="resources-container">
    <ul>
    <% @resources.each do |resource| %>
      
        <li class="resource-link"><%= link_to resource.name, resource.url %> | <%=link_to 'Add to Favorite Resources', class: "add-to-favorites-link"%></li>
        <li class="resource-description"><%= resource.description%></li>
 
    <% end %>
    </ul>
  </div>
</div>
