/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */












.new-post-form-container {
/*   position: absolute; */
/*   float: right; */

  position: relative;
  left: 48%;
  top: -18px
}



body {
  font-family: Sans-serif;
  background-color: #eeeeee;
  font-size: 16px;
}

h1 {
  text-shadow: 1.5px 1px 1.5px white;
}

a {
  color: darkred;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
  margin-left: 0;
}

 .recruit {
   position: absolute;
   top: 5px;
   right: 20px;
 }

.post-container {
  position: relative;
  clear: both;
    background-color: white;
    width: 86%;
    padding: 2% 2% 1% 2%;
    margin: 0 5% 3% 5%;
    border-radius: 5px;
    box-shadow: 2px 3px 10px darkgrey;

}

.poster-info {
  padding-top: 0;
  margin: 0;
  font-size: 14px;
  color: darkgrey;
}

.post-container-inner {
/*   background-color: red; */
  margin-left: 3%;
  float: right;
  width: 70%;
  padding-right: 10%;
}

.post-container img {
  float: left;
  width: 40px;
  height: 40px;
}

.user-name {
  font-size: 20px;
}

.user-avatar {
  background: darkgrey;
  width: 100px;
  height: 100px;
  position: relative;
  top: 2px;
  margin-right: 10px;
  margin-bottom: 40px;
  float: left;

}

.temp-user-id {
  display: none;
}


header {
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  color: orange;
  height: 60px;
  box-shadow: -1px 2px 5px black;
}

.logo {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 35px;
  font-weight: bold;
}

.logo a {
  color: orange;
  text-decoration: none;
}

header form {
  position: absolute;
  top: 15px;
  right: 20px;
}

header form button {
  background-color: orange;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
}

.submit {
  background-color: orange;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 14px;
  color: black;
}



header form input {
  background-color: orange;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 14px;
}

.container {
    margin: 90px auto 0 auto;
    width: 90%;
    padding: 5px 20px 30px 20px;
    /*background-color: lightgrey;*/
    position: relative;
}

.login-form {
/*   display: inline-block; */
  width: 800px;
  padding: 40px;
/*   background-color: lightgrey; */
  margin: 0 auto;
  box-shadow: 5px 4px 30px darkgrey;
}

.boot-profile {
  background-color: lightgrey;
  border-radius: 25px;
  min-height: 500px;
  padding: 2% 5% 10% 5%;
  position: fixed;
  left: 5%;
  width: 30%;
  box-shadow: 2px 3px 10px darkgrey;

}

.all-posts {
  display: block;
  width: 50%;
  margin-left: 50%;
}

th {
    text-align: left;
}

.login-form form p {
/*  background-color: red; */
}

form input[type="submit"] {
  background-color: orange;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 14px;
}

#new-post-button {
  padding: 10px 50px;
  margin-bottom: 10px;
}

textarea#post_text {
  width: 49%;
  height: 50px;
  font-size: 14px;
  border: none;
}

form input[type="text"] {
  margin: 15px 0;
  background-color: #f7f7f7;
  border: none;
  height: 30px;
  padding: 5px 15px;
  width: 500px;
  font-size: 14px;
}

form input[type="password"] {
  margin: 15px 0;
  background-color: #f7f7f7;
  border: none;
  height: 30px;
  padding: 5px 15px;
  width: 500px;
  font-size: 14px;
}


#dynamic-add {
  display: none;
}

.header-links {
/*   background-color: red; */
  display: inline-block;
  position: absolute;
  top: -12px;
  right: 20px;
  color: darkgrey;

}

.header-links ul li {
  display: inline-block;
  list-style-type: none;
  padding-right: 40px;
  padding-left: 40px;
/*   border-left: 1px solid black; */
/*   border-shadow: 1px 1px 1px white; */
  padding-top: 15px;
  height: 35px;
/*   position: absolute;
  top: 0; */
}

.header-links a {
  color: lightgrey;
  text-decoration: none;
}

.header-links a:hover {
  color: darkgrey;
  text-decoration: underline;
}

.post-container-inner p {
  font-size: 14px;
}

.nice-action {
  clear: both;
  width: 100%;
  position: relative;
  top: 8px;
}

.delete-edit-action {
/*   clear: both; */
  display: block;
  position: absolute;
  top: 2px;
  right: 5px;
}


.nice-action p, .nice-action a, .delete-edit-action a, .delete-edit-action p {
/*    background-color: red; */
   display: inline-block;
   font-size: 12px;
}

.nice-action a, .delete-edit-action a {
  color: darkred;
  text-decoration: none;
}

.nice-action a:hover, .delete-edit-action a:hover {
  color: orange;
}

.nice-count, {
  color: darkgrey;
}

.updated-at {
/*   display: inline; */
  font-size: 12px;
  position: absolute;
  bottom: -10px;
  right: -47px;
  color: lightgrey;
  width: 200px;
/*   float: right; */
}

.edit-profile-link {
  margin: 0;
  padding: 0;
}

.edit-profile-link a {
  color: darkred;
  text-decoration: none;
  font-size: 12px;
}

.email, .quirk, .tweet-size-advice {
  font-size: 13px;
}

.email span, .quirk span, .tweet-size-advice span {
  color: darkgrey;
}

/* .quirk span {
  position: relative;
  top: -22px;
  color: black;
} */

.quirk-label {
  clear: both;
  margin: 0;
  padding: 0 0 5px 0;
  font-size: 13px;
}

.quirk-label span {
  color: darkgrey;
  font-size: 11px;
}

.quirk, .tweet-size-advice {
  clear: both;
/*   margin-top: 20px; */
  margin: 0 0 20px 0;
  min-height: 50px;
  width: 100%;
  padding: 5px;
  background-color: #eeeeee;
  border-radius: 5px;

}

.quirk, .tweet-size-advice {
  clear: both;
/*   margin-top: 20px; */
  margin: 0 0 20px 0;
  min-height: 50px;
  width: 100%;
  padding: 5px;
  background-color: #eeeeee;
  border-radius: 5px;

}

.tweet-size-advice-label {
  clear: both;
  margin: 0;
  padding: 0;
}

.tweet-size-advice-label {
  clear: both;
  margin: 0;
  padding: 0;
}

.post-form {
  display: block;
}

.post-text {
  display: block;
}

.hidden {
  display: none;
}

.resources-container .resource-link {
  padding-bottom: 5px;
}

.resources-container .resource-description {
  color: darkgrey;
  padding-left: 20px;
  padding-bottom: 20px;
}

.feed-link {
  position: fixed;
  left: 300px;

}
